<div class = "container">
  <div class="row text-center">
    <h3>Search TrophyCase</h3><br>
      <div class="col-xs-12 col-md-3">

          <div class="dropdown">
            <button class="col-xs-12 col-md-12 btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong class = "opt">Sport</strong>
              <span class="caret"></span>
            </button>
            <ul class="col-xs-12 col-md-12 dropdown-menu" aria-labelledby="dropdownMenu1">
              <%@organization.people.records_sport_pluck.each do |sport|%>
              <li><%=link_to sport.titleize, organization_people_path(@organization, :records_sport_filter => sport) %> </li>
              <% end %>
            </ul>
          </div>

      </div>

      <!-- /.col-md-4 -->
      <div class="col-xs-12 col-md-3">

          <div class="dropdown">
            <button class="col-xs-12 col-md-12 btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong class = "opt">Achievements</strong>
              <span class="caret"></span>
            </button>
              <ul class="col-xs-12 col-md-12 dropdown-menu" aria-labelledby="dropdownMenu1">

              <li><%=link_to "Hall of Fame", organization_people_path(@organization, :records_hall_of_fame_filter => 1) %> </li>
              <li><%=link_to "All State 1st Team", organization_people_path(@organization, :records_all_state_1st_team_filter => 1) %> </li>
              <li><%=link_to "All State 2nd Team", organization_people_path(@organization, :records_all_state_2nd_team_filter => 1) %> </li>
              <li><%=link_to "All State 3rd Team", organization_people_path(@organization, :records_all_state_3rd_team_filter => 1) %></li>

            </ul>
          </div>
        </div>
      <!-- /.col-md-4 -->
      <div class="col-xs-12 col-md-3">
        <div class="dropdown">
          <button class="col-xs-12 col-md-12 btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <strong class = "opt">Class of (Year)</strong>
            <span class="caret"></span>
          </button>
          <ul class="col-xs-12 col-md-12 dropdown-menu" aria-labelledby="dropdownMenu1">
            <%@organization.people.people_class_of_pluck.each do |classof|%>
            <% if classof != nil %>
            <li><%=link_to classof, organization_people_path(@organization, :people_class_of_filter => classof) %> </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-xs-12 col-md-3">

          <div class="dropdown">
            <button class="col-xs-12 col-md-12 btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong class= "opt">Last Name</strong>
              <span class="caret"></span>
            </button>
            <ul class="col-xs-12 col-md-12 dropdown-menu" aria-labelledby="dropdownMenu1">
              <%@organization.people.people_last_name_pluck.each do |lastname|%>
              <li><%=link_to lastname, organization_people_path(@organization, :people_last_name_filter => lastname) %> </li>
              <% end %>
            </ul>
          </div>
      </div>
      <!-- /.col-md-4 -->
  </div><br><br>
  <!-- /.row -->
  </div><hr>
</div>
<div class = "container-fluid cardholder">
  <% if @people.blank? %>
    <h4>There are no people that match your search <%= params[:search] %>.</h4>
  <% end %>

<% @people.each_slice(2) do |row| %>
  <div class  = "row cardrow" >
    <%row.each do |p| %>
    <div class = "card col-xs-12 col-md-5">
      <div class = "col-xs-6 col-md-6 text-left">
        <span><h3><%= link_to "#{p.first_name}" " " "#{p.last_name}".html_safe, organization_person_path(@organization,p) %></h3></span>
          <% if p.class_of %>
            <p> (Class of <%= p.class_of %>)</p>
          <% end %>
              <ul>
                <% p.records.each do |r| %>
                  <li><%= r.sport.titleize %></li>
                <% end %>
              </ul>
        </div>
        <div class = "col-xs-6 col-md-5 col-md-offset-1 text-right">
          <p><%= link_to attachment_image_tag(p, :photo,:fit, 300,300, :class => "img-responsive indexphoto"), organization_person_path(@organization,p) %></p>
        </div>
      </div>

        <% end %>
    </div>
      <% end %>
<br><br><br><br>
</div>
