<div class = "container">
  <h2> Athlete Information </h2>
    <h5> If the athlete participated in more than one sport please complete multiple records</h5>
  <%= bootstrap_form_for(@person) do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@person.errors.count, "error") %> prohibited
          this person from being saved:
        </h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class = "container">
      <div>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name, placeholder: "Maiden Name if currently married" %>
        <h5>Gender</h5>
        <%= f.radio_button :gender, "male", label: "Male", inline: true %>
        <%= f.radio_button :gender, "female", label: "Female", inline: true %><br>
        <br><%= f.attachment_field :photo %>
      </div><br>

      <h3>Record Information(Per Sport)</h3>
      <%= f.fields_for :records do |ff| %>
        <div>
          <%= ff.select :sport, [['Basketball','basketball'],['Football','football'],['Baseball','baseball'],['Soccer', 'soccer'],['Softball','softball'],['Volleyball','volleyball']], { include_blank: true } %>
          <%= ff.select :induction_year, (100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
          <%= ff.select :first_active_year,(100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
          <%= ff.select :last_active_year, (100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
          <%= ff.text_area :bio %>
          <h5>Select <strong>ALL</strong> the achievements <%=@person.first_name%> received in the chosen sport. </h5>
          <%= ff.check_box :all_state_1st_team %>
          <%= ff.check_box :all_state_2nd_team %>
          <%= ff.check_box :all_state_3rd_team %>
          <%= ff.check_box :hall_of_fame %>
        </div>


      <div class="actions">
        <%= f.submit %>
      </div>
        <% end %>
    <% end %>
  </div>
</div>
