<div class = "container" id= "all-container">
  <h2> Athlete Information </h2>
    <h5> If the athlete participated in more than one sport please complete multiple records</h5>
  <%= bootstrap_form_for(@person) do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@person.errors.count, "error") %> prohibited
          this person from being saved:
        </h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class = "container">
      <div>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name, placeholder: "Maiden Name if currently married" %>
        <h5>Gender</h5>
        <%= f.radio_button :gender, "male", label: "Male", inline: true %>
        <%= f.radio_button :gender, "female", label: "Female", inline: true %><br>
        <br><%= f.attachment_field :photo %>
      </div><br>
      <h3>Record Information(Per Sport)</h3>
      <div class = "records-container">
      <%= f.fields_for :records do |ff| %>

      <%= render :partial => "records/form", locals: {ff: ff} %>
    </div>
      <div>

    </div><br>
      <div class="actions">
        <%= link_to 'Add another record', '#', :id=> "button" ,:class => "btn btn-success"%>
        <%= f.submit "Create a person with records", class: "btn btn-primary btn-large" %>
      </div>
        <% end %>
    <% end %>
  </div>
</div>
