<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class = "container" id= "person-info">
  <br>
  <div class = "row">
  <div class = "col-xs-10 col-md-6 info">

    <h2><%= @person.first_name%> <%= @person.last_name %></h2>
      <% if @person.class_of %><span>(Class of <%= @person.class_of %>)</span><br><br> <% end %>
      <% @person.records.each do |r| %>
      <ul>

          <p class = "sport"><strong> <%= r.sport.titleize %></strong></p>

        <% if r.bio %>

          <p><%= r.bio %></p>

        <% end %>
          <% if r.induction_year %>
        <li>
          <span><strong>Inducted into Hall of Fame:</strong> <%= r.induction_year %></span>
        </li>
          <% end %>
          <% if r.first_active_year && r.last_active_year %>
        <li>
          <span><strong>Participated: </strong><%= r.first_active_year%>-<%= r.last_active_year%></span>
        </li>
        <% end %>
        <li>
          <span><strong>Achievements:</strong>
            <ul>
            <% if r.hall_of_fame == "1" %>
             <li>Hall of Fame</li>
            <% end %>
            <% if r.all_state_1st_team == "1" %>
            <li>All State 1st Team</li>
            <% end %>
            <% if r.all_state_2nd_team == "1" %>
            <li> All State 2nd Team </li>
            <% end %>
            <% if r.all_state_3rd_team == "1" %>
            <li> All State 3rd Team</li>
            <% end %>
          </ul>
          </span>
        </li>
      </ul>
      <% end %>
    </div>
    <br><br>
      <div class = "col-xs-10 col-md-5">
      <%= image_tag(@person.photo_url, class: "img-responsive showphoto") %>
      </div>
  </div>
  <hr>
      <div class = "row">
        <div class = "col-xs-12 col-md-10 icons">
          <div class = "col-xs-3 col-md-2">
            <div class="fb-share-button" data-href="<%=request.fullpath%>" data-layout="button"></div>
          </div>
      <% if current_user %>
          <div class = "col-xs-3 col-md-2">
            <span><%= link_to '<h2 class="glyphicon glyphicon-edit"></h2>'.html_safe, edit_organization_person_path(@organization,@person) %></span>
          </div>
          <div class = "col-xs-3 col-md-2">
            <span><%= link_to '<h2 class="glyphicon glyphicon-trash"></h2>'.html_safe, organization_person_path(@organization,@person), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
      <% end %>
          <div class = "col-xs-3 col-md-2 pull-right">
            <span><%= link_to '<h4 class="glyphicon glyphicon-chevron-left">Back</h4>'.html_safe, :back %></span>
          </div>
    </div>

  </div><br>

</div><br><br><br><br><br>
