<div>
  <%= ff.select :sport, [['Basketball','basketball'],['Football','football'],['Baseball','baseball'],['Soccer', 'soccer'],['Softball','softball'],['Volleyball','volleyball']], { include_blank: true } %>
  <%= ff.select :induction_year, (100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
  <%= ff.select :first_active_year,(100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
  <%= ff.select :last_active_year, (100.years.ago.year..Date.today.year).to_a.reverse.collect{|y| [y,y]}, { include_blank: true } %>
  <%= ff.text_area :bio %>
  <h5>Select <strong>ALL</strong> the achievements <%=@person.first_name%> received in the chosen sport. </h5>
  <%= ff.check_box :all_state_1st_team %>
  <%= ff.check_box :all_state_2nd_team %>
  <%= ff.check_box :all_state_3rd_team %>
  <%= ff.check_box :hall_of_fame %>
</div>
