<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <h1 class= "text-center"> About TrophyCase</h1>
        <div class = "col-xs-4">
        <h4>Problems TrophyCase helps to solve:</h6>
        <ul>
          <li> Vast amounts of historical athletic data</li>
          <li>Endless future data</li>
          <li>Limited accessibility to data</li>
          <li>Lack of display space</li>
          <li>Organization of data</li>
          <li>No room for details</li>
          <li>Pictures age</li>
          <li>Takes up physical space</li>
          <li>Requires maintenance & upkeep</li>
          <li>Not everything can be displayed</li>
        </ul>
        </div>
        <div class = "col-xs-4">
        <h4>What's the value of TrophyCase?</h6>
          <h5>Displays:</h5>
        <ul>
          <li>Complete history of school/town’s athletics program </li>
          <li>All who were involved including their accomplishments </li>
          <li>Information is presented in a neat organized format  </li>
          <li>Global Access: Available to anyone, anywhere and at any time</li>
        </ul>
        </div>
        <div class = "col-xs-4">
        <h4>Who does TrophyCase serve?</h6>
        <ul>
          <li>High schools </li>
          <li>Colleges</li>
          <li>Newspapers</li>
          <li>City/Towns</li>
        </ul>
        </div>


      </div>
      <hr>

    <div class="row">
      <div class = "col-xs-12">
        <h3 class = "text-center"> Current Users of TrophyCase </h3>
      </div>
          <% @organizations.each do |organization| %>
        <div class="col-md-4">
            <h4 class = "org-names-index"><%=link_to organization.name, organization_path(organization) %></h4>
            <p><%=organization.street %></p>
            <p> <%= organization.city.titleize %>, <%= organization.state.titleize %> <%= organization.zip %></p>
            <p><%= organization.phone_number %></p>
        </div>
        <% end %>
    </div>
    <!-- /.row -->

</div>
