<div class = "container">
  <h2> Organization Information </h2>
  <%= bootstrap_form_for(@organization) do |f| %>
    <% if @organization.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@organization.errors.count, "error") %> prohibited
          this organization from being saved:
        </h2>

        <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "container">
    <div>
      <%= f.text_field :name %>
      <%= f.text_field :street %>
      <%= f.text_field :city %>
      <%= f.text_field :state %>
      <%= f.text_field :zip %>
      <%= f.phone_field :phone_number %><br>
      <h5> Upload a logo for your organization</h5>
      <%= f.attachment_field :logo %><br>
      <h5> Upload another photo for your organization's page</h5>
      <%= f.attachment_field :org_photo %>
    </div>
    <br><br>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>
