<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
              <%= image_tag(@organization.org_photo_url, :class => "img-responsive") %>
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">

            <h1><%=@organization.name%></h1>
            <p>Address: <%=@organization.street %> <%= @organization.city %> <%= @organization.state %> <%= @organization.zip %></p>
            <p>Phone Number <%= @organization.phone_number %></p>
        </div>

        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <!--<div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Check out our athletic accomplishments!
            </div>
        </div>-->
        <!-- /.col-lg-12 -->
  <!--  </div>-->
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row text-center">
      <h3>Select the option by which you'd like to find the athletic record:</h3>
        <div class="col-md-2">
            <a class="btn btn-default btn-success " href="/people">By Sport</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-success" href="/people">Hall of Famers</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-success " href="/people">Achievements</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-success" href="/people">By Year</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-2">
            <a class="btn btn-default btn-success" href="/people">Last Name A-Z</a>
        </div>
        <!-- /.col-md-4 -->
    </div><br><br>
    <!-- /.row -->
</div>
