
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrophyCase</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                  <ul>
                     <% if @organization %>
                        <% if @organization.logo_url != nil %>
                      <%= link_to image_tag(@organization.logo_url,:class => "navbar-brand"), organization_path(@organization) %>
                        <% else %>
                      <%= link_to " ",organizations_path, :class => " navbar-brand" %>
                        <% end %>
                      <% else %>
                      <%= link_to " ",organizations_path, :class => " navbar-brand" %>
                    <% end %>
                    <ul id= "title">
                      <% if @organization %>
                        <% if @organization.id != nil %>
                          <%= link_to "<h2>TrophyCase</h2>".html_safe, organization_path(@organization) %>
                        <% else %>
                          <%= link_to "<h2>TrophyCase</h2>".html_safe, organizations_path %>
                       <% end %>
                      <% else %>
                        <%= link_to "<h2>TrophyCase</h2>".html_safe, organizations_path %>
                      <% end %>
                    </ul>
                  </ul>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                  <% if @organization != nil %>
                  <% if params[:action] != "new" %>
                      <%= form_tag(organization_people_path(@organization), :method => "get", id: "search-form", :class => "form-inline") do %>


                      <%= text_field_tag :search, params[:search], placeholder: "Search People" , :class => "form-control" %>
                      <%= button_tag "", type: 'submit', class: "btn btn-inverse glyphicon glyphicon-search" %>
                      <% end %>
                      <% end %>
                      <% end %>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <%= yield %>
    <!-- Page Content -->

    <div class = "container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <nav id="navbar-bottom" class = "navbar navbar-default navbar-fixed-bottom navbar-right">
                      <div class= "container">

                          <% if @current_user %>
                          <p class = "navbar-text navbar-right" > <%= @current_user.name.titleize %>, <%= link_to "Log Out", user_session_path(@current_user),method: :delete %>
                        </p>
                          <% if params[:action] != "new" %>
                          <% if @organization %>
                        <p class = "navbar-text navbar-right" > <%= link_to "Add Person & Record", new_organization_person_path(@organization) %>
                      </p>
                      <% end %>
                      <% end %>
                      <% if @organization == nil %>
                      <p class = "navbar-text navbar-right" > <%= link_to "Add your Organization", new_organization_path %>
                    </p>
                    <% end %>
                    <% if @organization.try :id %> 
                    <p class = "navbar-text navbar-right" > <%= link_to "Edit your Organization", edit_organization_path(@organization) %>
                  </p>
                  <% end %>
                          <% else %>
                          <% if params[:controller] == "organizations" && params[:action] == "index" %>
                        <p class = "navbar-text navbar-right">
                          <%= link_to "Admin Log In", new_user_session_path%>
                        </p>
                        <p class = "navbar-text navbar-right">
                          <%= link_to "Admin Sign Up", new_user_path %>
                          <% end %>
                        </p>
                        <% end %>
                        <p class = "navbar-text navbar-left">Copyright &copy; TrophyCase 2015, All Rights Reserved</p>
                      </div>
                    </nav>
                </div>
            </div>
        </footer>
      </div>

    <!-- /.container -->

</body>

</html>
